* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  background: wheat;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  padding: 1rem;
  box-shadow: 2px 2px 2px tan;
}

header div {
  text-align: center;
}

.jobCards {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.job--card {
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 2px wheat;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.company {
  font-size: 3rem;
}

.role {
  font-size: 1.5rem;
  font-style: italic;
}

footer {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
  bottom: 0px;
  background: wheat;
  padding: 2rem;
  box-shadow: 2px -2px 2px tan;
}

.email {
  color: black;
  text-decoration: none;
}