* {
  font-family: 'Noto Sans', sans-serif;
  font-size: 62.5%;
  /* background: whitesmoke; */
}

.App {
  display: flex;
  flex-direction: column;
  /* flex-basis: content; */
}

header {
  background: wheat;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  padding: 1rem;
  box-shadow: 2px 2px 2px tan;
}

header div {
  text-align: center;
}

.jobCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.job--card {
  flex-basis: 300px;
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 2px wheat;
}

.company {
  font-size: 3rem;
}

.role {
  font-size: 1.5rem;
  font-style: italic;
}

footer {
  /* position: relative; */
  /* position: absolute; */
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
  bottom: 0px;
  background: wheat;
  padding: 2rem;
  box-shadow: 2px -2px 2px tan;
  /* margin-bottom: 0; */
}

.email {
  /* font-size: 2rem; */
  color: black;
  text-decoration: none;
}